---
import { storyblokEditable } from '@storyblok/astro';
import { addSubscriberToMailerLite } from '../utils/subscribe';

const { blok } = Astro.props;

if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData();
    console.log(data);
    

    const firstName = data.get('first_name');
    const lastName = data.get('last_name');
    const email = data.get('email');
    addSubscriberToMailerLite(firstName, lastName, email);
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<form action="" {...storyblokEditable(blok)} class="article__container" method="POST">
  <h3 class="header__3 contact__header">{blok.title}</h3>
  <p class="contact__text paragraph__container">{blok.text}</p>
  <div class="input__container">
    {
      blok.input.map((data) => (
        <>
          <label class="contact__label" for={data.name}>
            {data.label}
          </label>
          <input
            class="contact__input"
            type={data.type}
            name={data.name}
            placeholder={data.placeholder}
            required
          />
        </>
      ))
    }
  </div>
  <button class="contact__submit" type="submit">Submit</button>
</form>
<style>
  .article__container {
    position: relative;
    background-color: var(--black);
    color: white;
    flex: 1;
    padding: var(--sm);
  }
  .input__container {
    display: flex;
    flex-direction: column;
    gap: var(--xx-sm);
  }
  .contact__text {
    margin-bottom: var(--sm);
  }
  .contact__label {
    display: none;
  }
  .contact__input {
    width: 100%;
    padding: 2px var(--xx-sm);
    border: none;
    outline: none;
  }
  .contact__input:focus {
    box-shadow: 0px 0px 2px 2px rgba(56, 128, 128, 0.75);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(56, 128, 128, 0.75);
    -moz-box-shadow: 0px 0px 2px 2px rgba(56, 128, 128, 0.75);
  }
  .contact__input:last-child {
    width: 80%;
  }
  .contact__submit {
    position: absolute;
    width: calc((100% - 33px) / 5);
    bottom: var(--sm);
    right: var(--sm);
    border: none;
    outline: none;
    height: 29.5px;
    background-color: var(--grey);
    color: white;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  .contact__submit:hover {
    background-color: var(--brand);
  }
</style>
