---
import { Picture } from '@astrojs/image/components';
import { storyblokEditable, renderRichText } from '@storyblok/astro';

const { blok } = Astro.props;
const description = renderRichText(blok.description);
---

<main {...storyblokEditable(blok)}>
  <article class="show__container">
    <div class={`swiper swiper-${blok._uid}`}>
      <div class="swiper-wrapper">
        {
          blok.photos.map((image, i) => {
            return (
              <div class="swiper-slide">
                <Picture
                  class="picture__container"
                  src={image.filename}
                  widths={[640]}
                  sizes="640px"
                  aspectRatio="16:9"
                  alt="alt"
                />
              </div>
            );
          })
        }
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="description__container">
      <h1>{blok.title}</h1>
      <p>{blok.date}</p>
      <p>{blok.location}</p>
      <Fragment set:html={description} />
    </div>
  </article>
</main>
<style>
  .show__container {
    position: relative;
    background-color: black;
    color: white;
  }
  .description__container {
    padding: var(--sm);
    padding-bottom: var(--lrg);
  }
</style>
<script is:inline define:vars={{ blok }}>
  var swiper = new Swiper(`.swiper-${blok._uid}`, {
    pagination: {
      el: '.swiper-pagination',
      clickable: 'true',
    },
  });
</script>
