---
import { storyblokEditable, renderRichText } from '@storyblok/astro';
import { Picture, Image } from '@astrojs/image/components';
import '../styles/swiper.css';

const blok = Astro.props;
const content = blok.content;

const description = renderRichText(content.description);
---

<article {...storyblokEditable(content)} class="screening__container">
  <div class={`swiper swiper-${content._uid}`}>
    <div class="swiper-wrapper">
      {
        content.photos.map((image, i) => {
          return (
            <div class="swiper-slide">
              <a href={`/${blok}`}>{blok.name}
                </a>
                <picture>
                  <img src={`${image.filename}/m/800x450/`} alt="" />
                </picture>
            </div>
          );
        })
      }
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="text__container">
    <h3 class="screening__title">{content.title}</h3>
    <p>{content.date}</p>
    <Fragment class="paragraph__container" set:html={description} />
  </div>
</article>
<style>
  .screening__container {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--black);
    color: white;
    min-width: 0;
    height: 600px;
  }
  .picture__container {
    height: 100%;
    object-fit: contain;
  }
  .picture__container__inactive {
    display: none;
  }
  .text__container {
    flex: 1;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
</style>
<script is:inline define:vars={{ content }}>
  var swiper = new Swiper(`.swiper-${content._uid}`, {
    navigation: {
      // nextEl: `.picture__${content._uid}`,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: 'true',
    },
    autoplay: true,
    effect: 'fade',
    fadeEffect: {
      crossFade: true,
    },
    speed: 600,
  });
</script>
