---
import { storyblokEditable, renderRichText } from '@storyblok/astro';
import { Picture } from '@astrojs/image/components';
import '../styles/swiper.css';

const { content } = Astro.props;

const description = renderRichText(content.description);
---

<article {...storyblokEditable(content)} class="screening__container">
  <div class={`swiper swiper-${content._uid}`}>
    <div class="swiper-wrapper">
      {
        content.photos.map((image, i) => {
          return (
            <div class="swiper-slide">
              <Picture
                class={`picture__container picture__${content._uid}`}
                src={image.filename}
                widths={[640]}
                sizes="640px"
                aspectRatio="16:9"
                alt="alt"
              />
            </div>
          );
        })
      }
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="text__container">
    <h3 class="screening__title">{content.title}</h3>
    <p>{content.date}</p>
    <Fragment class="paragraph__container" set:html={description} />
  </div>
</article>
<style>
  .screening__container {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--black);
    color: white;
    min-width: 0;
  }
  .picture__container {
    height: 100%;
    object-fit: cover;
  }
  .picture__container__inactive {
    display: none;
  }
  .text__container {
    flex: 1;
  }
</style>
<script is:inline define:vars={{ content }}>
  var swiper = new Swiper(`.swiper-${content._uid}`, {
    navigation: {
      nextEl: `.picture__${content._uid}`,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: 'true',
    },
  });
</script>
